<!-- Search with clear action -->
<form method="get" action="">
    <div class="row py-3 d-md-flex">
        <div class="col-12 col-md-6 col-lg-4 d-flex mb-2">
            <input class="form-control" type="search" name="search" value="{{ search_query }}" placeholder="Recherche">
        </div>
        <div class="col-12 col-md-6 col-lg-8 d-flex">
            <button type="submit" class="btn btn-outline-primary mb-2">Recherche</button>
            <button type="submit" name="clear" class="btn btn-outline-secondary ms-2 mb-2">Annuler</button>
        </div>
    </div>
</form>