{% extends "base.html" %} 

<!-- Page title -->
{% block title %}Mot de passe validé - GD investment{% endblock %}

{% block content %}

    <div class="container p-4">
        <div class="row justify-content-center">
            <!-- Box for form -->
            <div class="col-md-9 col-lg-6 p-3 border border-secondary rounded">

                <h5 class="text-success">Mot de passe réinitialisé !</h5>
                <hr>

                <p class="mb-3">Votre mot de passe a été correctement réinitialisé. Vous pouvez désormais vous reconnecter.<p>
                    
                <a class="btn btn-outline-primary" href="{% url 'login' %}">Se connecter</a>

            </div>
        </div>
    </div>

{% endblock %}