{% extends "base.html" %} 

<!-- Page title -->
{% block title %}Réinitialisation mot de passe - GD investment{% endblock %}

{% block content %}

    <div class="container p-4">
        <div class="row justify-content-center">
            <!-- Box for form -->
            <div class="col-md-9 col-lg-6 p-3 border border-secondary rounded">

                <h5 class="text-success">Message de réinitialisation du mot de passe envoyé</h5>
                <hr>

                <p>Nous vous avons envoyé par e-mail les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.<p>
                <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez vos spams.</p>
            
            </div>
        </div>
    </div>

{% endblock %}