{% extends "base.html" %} 

<!-- Page title -->
{% block title %}Nouveau mot de passe - GD investment{% endblock %}

{% block content %}

    <div class="container p-4">
        <div class="row justify-content-center">
            <!-- Box for form -->
            <div class="col-md-9 col-lg-6 p-3 border border-secondary rounded">

                <h5>Définir mon nouveau mot de passe</h5>
                <hr>

                <p>Renseigner votre nouveau mot de passe ci-dessous en respectant les règles de sécurité.</p>

                <form method="post">
                    
                    <!-- Display form -->
                    {% csrf_token %}
                    
                    <!-- New password -->
                    <div class="form-group mb-3">
                        {{ form.new_password1.label_tag }}
                        <!-- Tooltip displaying help-text configured in forms.py-->
                            <span class="tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ form.new_password1.help_text }}">
                                <i class="bi bi-question-circle-fill"></i>
                            </span>
                        {{ form.new_password1 }}
                    </div>
                    <!-- Display error messages -->
                    {% include 'authentication/partials/error_message.html' with form_field=form.new_password1 %}

                    <!-- Confirm new password -->
                    <div class="form-group mb-3">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                    </div>
                    <!-- Display error messages -->
                    {% include 'authentication/partials/error_message.html' with form_field=form.new_password2 %}

                    <!-- Submit -->
                    <div class="col text-center">
                        <button type="submit"  class="btn btn-outline-primary px-4" name="send_email">Valider nouveau mot de passe</button>
                    </div>
                </form>

            
            </div>
        </div>
    </div>

{% endblock %}