{% extends "base.html" %} 

<!-- Page title -->
{% block title %}Mot de passe perdu - GD investment{% endblock %}

{% block content %}

    <div class="container p-4">
        <div class="row justify-content-center">
            <!-- Box for form -->
            <div class="col-md-9 col-lg-6 p-3 border border-secondary rounded">

                <h5>Génerer un nouveau mot de passe</h5>
                <hr>

                <p class="fw-bold">Vous avez oublié votre mot de passe !<p>
                <p>Renseignez votre adresse e-mail ci-dessous et suivez les instructions pour en générer un nouveau</p>

                <form method="post">
                    
                    <!-- Display form -->
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>

                    <!-- Submit -->
                    <div class="col text-center">
                        <button type="submit"  class="btn btn-outline-primary px-4" name="send_email">Régénérer mon mot de passe</button>
                    </div>
                </form>

            
            </div>
        </div>
    </div>

{% endblock %}